<div class="section__submenu">
  <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary w-20' %>
</div>
<div class="section__list">
<%= render partial: 'recipe_card', collection: @recipes, as: :recipe, locals: { detailed: false } %>
</div>
